.navbar{
	background-color:#0db04b !important;
	margin-left: -15px;
	margin-right: -15px;
}

.nav-link{
	color:white !important;
	white-space: nowrap;
}

.link{
	
	font-size:20;
}

a:hover{
	color:gold !important;
}

a{
	color:#7b2424;
}

.nav-link.active{
	color:white !important;
	background-color: #0db04b;
}

.checked {
	color:#1a8a64;
}

.btn-dangers{
	background-color: #1a8a64 !important;
	color:white !important;
}
	
.img{
	position:relative;
	display:inline-block;
}

.img .overlay{
	position:absolute;
	top:1;
	left:1;
	width:10%;
	height:10%;
	opacity:0;
	transition:opacity 500ms ease-in-out;
}

.img:hover .overlay{
	opacity:1;
}

.overlay span{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

 /* css code for the background image */
 body {
	background-image: url("../images/background.jpg") !important;
	background-repeat: no-repeat;
	background-color: #cccccc;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.badge{
	color: white;
	background-color: #0db04b;
	font-size: 13px;
	border: none;
}

/* css for the footer */
.footerLink {
	color: white;
}

.footers{
	width: auto;
	background-color:#0db04b;
	margin-left: -15px;
	margin-right: -15px;
}
/* CSS code for the login and signup page */
.bg {
	/* css for the background image of the shadow in login and signup page*/
	background-image: url("../images/form_background.jpg");
	background-repeat: no-repeat;
	background-color: #cccccc;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	width: auto;
	height: auto;
}

.text {
	/* css for the label color */
	color: white;
	font-weight: bold;
}
/* adding the color to the placeholder */
.placeholdColor::placeholder {
	color: white !important;
	opacity: 0.5;
}

.background {
	/* css for the text field */
	background-color: #1a8a64 !important;
	color: white !important;
	box-sizing: border-box;
	border: none !important;
}

/* css code for the product detail page */\
nav>.nav.nav-tabs {

	border: none;
	color: #fff;
	background: #1a8a64;
	border-radius: 0;

}

nav>div a.nav-item.nav-link,
nav>div a.nav-item.nav-link.active {
	border: none;
	padding: 18px 25px;
	background: #1a8a64;
	border-radius: 0;
}

nav>div a.nav-item.nav-link.active:after {
	content: "";
	position: relative;
	bottom: -55px;
	left: -10%;
	border: 15px solid transparent;
	border-top-color: #0db04b;
}



nav>div a.nav-item.nav-link:hover,
nav>div a.nav-item.nav-link:focus {
	border: none;
	background: #0db04b;
	color: #0db04b;
	border-radius: 0;
	transition: background 0.20s linear;
}
/* css code for hover effect in images */
.hover01 div img {
-webkit-transform: scale(1);
transform: scale(1);
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
}
.hover01 div:hover img {
-webkit-transform: scale(1.3);
transform: scale(1.3);
}